body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 300;
}

.text-muted {
  color: #636363;
  margin-top: 8px;
}

h2 {
  margin: 0;
}

.message-container {
  padding: 1em;
}

.overlay-instruction {
  color: white;
  margin: 1.5em 2em 0 auto;
  font-size: 16px;
  display: block;
  border: solid 1px white;
  padding: .6em 1em;
  border-radius: 6px;
}